* {
    margin:10;
    padding: 10;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    position: relative;
    background-color: gainsboro;
}

#player {
    width: 20px;
    height: 20px;
    margin: 0;
    position: inherit;
    background-color: orange;
}

.seed {
    background-color: green;
    position: absolute;
}
